# generated executable files
cmd/**/*.exe
cmd/copsctl/dist
vendor
.vscode
.generated
.idea/
cmd/copsctl/copsctl

cmd/copsctl/logs\.log

cmd/copsctl/copsctl\.log

# ignore terrform related files
.plans/
.terraform/
.terraform*
*.tfvars
terraform.tfstate
terraform.tfstate.backup
