# generated executable files
cmd/**/*.exe
cmd/copsctl/dist
vendor
.vscode
.generated
cmd/copsctl/copsctl

cmd/copsctl/logs.log

cmd/copsctl/copsctl.log

go.work

go.work.sum

# ignore terrform related files
.plans/
.terraform/
.terraform*
*.tfvars
terraform.tfstate
terraform.tfstate.backup

# corebuild
internal/corebuild/configuration/cgo.yaml
